input,button,textarea{font-size:100%;outline:none;-webkit-tap-highlight-color:rgba(0,0,0,0);border-radius:0;}
select{outline:none;-webkit-tap-highlight-color:rgba(0,0,0,0);}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: normal;
    vertical-align: baseline;
    font-style: normal;
}
html,body{cursor:pointer;width:100%;font-family:"微软雅黑";}
*{margin:0;padding:0;}
select{text-indent: 0!important;}
a{text-decoration: none;}
ul, li {list-style: none; }
input[type=button], input[type=submit], input[type=file], button { cursor: pointer; -webkit-appearance: none; }
/*登录*/
.login_oneimg{
    width: 0.655rem;
    height: 1.02rem;
    margin:auto;
    display: block;
    margin-top:0.84rem;
    margin-bottom: 0.39rem;
}
.login_two{
    width: 100%;
}
.login_twoipt , .login_two_one{
    width:90%;
    height: 0.53rem;
    display: block;
    margin: auto;
    font-size: 0.14rem;
    border: none;
    border-bottom:1px solid #EEEEEE;
    background: none;
}
.login_twoipt::-webkit-input-placeholder{
    color:#939393;
}
.login_two_oneipt::-webkit-input-placeholder{
    color:#939393;
}
.login_two_oneipt{
    width: 60%;
    border-right: 1px solid #6C2844;
    font-size: 0.14rem;
    border: none;
    height: 0.525rem;
    float: left;
    background: none;
}
.login_two_two{
    float: right;
}
.showtext{
    float: left;
}
.login_two_twoa{
    float: right;
    margin-top: 0.2rem;
    font-size: 0.13rem;
    color: #939393;
    margin-left: 0.1rem;
}
.login_two_twoimg{
    width: 0.24rem;
    height: 0.12rem;
    margin-top: 0.22rem;
    border-right: 1px solid #c2c2c2;
    padding-right: 0.1rem;
}
.login_two_thr{
    width: 90%;
    line-height: 0;
    padding: 0.19rem 0;
    display: block;
    margin: auto;
    margin-top: 0.29rem;
    border-radius: 15px;
    border: none;
    font-size: 0.16rem;
    color: #fff;
    background:#5394FF;
    box-shadow:0px 5px 5px 0px rgba(83,148,255,0.3);

}
.login_two_for{
    width: 90%;
    margin: auto;
    margin-top: 0.22rem;
}
.login_two_forspan{
    float: left;
    font-size: 0.13rem;
    color: #262626;
}

.login_two_fora{
    float: right;
    font-size: 0.13rem;
    color:#5394FF;
}

/*注册*/
.register_two_oneipt{
    width: 60%;
}
.register_two_twoa{
    color: #6C2844;
}
.register_onep{
    width: 90%;
    margin: auto;
    font-size:0.11rem;
    color: #939393;
    margin-top: 0.18rem;
}
.register_two_thr{
    margin-top: 0.19rem;
}
.register_thrspan{
    font-size: 0.11rem;
    float: left;
    margin-left: 0.03rem;
    color: #939393;
}
.check{
    width:0.11rem;
    height:0.11rem;
    background: url(../images/rgtwo.png) left center no-repeat;
    background-size: 100% !important;
    float: left;
    margin-top: 0.03rem;
}
.checkbox{
    width:0.11rem;
    height:0.11rem;
    vertical-align: middle;
    filter:alpha(opacity=0);
    -moz-opacity:0;
    -khtml-opacity: 0;
    opacity: 0;
    float: left;
}
.register_thra{
    color: #262626;
}
.register_fora{
    font-size: 0.13rem;
    color: #262626;
    display: block;;
    text-align: center;
    clear: both;
    margin-top: 0.25rem;
}
.register_fivipt{
    font-size: 0.14rem;
    float: right;
    border: none;
    background: none;
    margin-top: 0.16rem;
    color:#5394FF;
}
/*找回密码*/
.retrieve_one{
    width: 100%;
    height: 0.45rem;
    border-bottom: 1px solid #E1E1E1;
    background: #fff;
    box-shadow:0px 1px 2px 0px #ECECEC;

}
.retrieve_two{
    margin-top: 0.25rem;
}
.retrieve_oneh1{
    text-align: center;
    font-size: 0.17rem;
    color: #323232;
    line-height:0;
    padding: 0.225rem 0;
}
.retrieve_oneimg{
    width: 0.095rem;
    height: 0.165rem;
    position: absolute;
    left: 0.2rem;
    top: 0.15rem;
}
/*修改密码*/
.changebox .login_twoipt{
    background: none;
}
.changebox .login_twoipt{
    background: none;
}
.change_onea{
    font-size: 0.13rem;
    color: #6C2844;
    float: right;
    margin-right: 0.37rem;
    margin-top: 0.14rem;
}
/*闪屏*/
.order_wu{
    width: 100%;
    position: absolute;
    left: 50%;
    top:50%;
    transform:translate(-50%,-50%);
    -webkit-transform:translate(-50%,-50%);
    text-align: center;
}
.shanimg{
    width: 2.075rem;
    height: 1.67em;
}
/*主页*/
.head{
    width: 100%;
    height: 0.72rem;
    background-image: url("../images/bj_top.png");
    background-size: 100%;
    position: fixed;
    top:0;
    left: 0;
    z-index: 99;
}
.head_one{
    width: 100%;
    height: 0.22rem;
}
.head_two{
    width: 100%;
}
.header_oneimg{
    width: 2.07rem;
    height: 0.185rem;
    float: left;
    margin-left: 0.1rem;
    margin-top: 0.15rem;
}
.header_two{
    position: relative;
    width: 0.19rem;
    height: 0.22rem;
    float: right;
    margin-right: 0.22em;
    margin-top: 0.1rem;
}
.header_twoimg{
    width: 0.21rem;
    height: 0.245rem;
    float: right;
}
.header_i{
    position: absolute;
    border-radius: 50%;
    background: #F72104;
    font-size: 0.08rem;
    color: #fff;
    top:-0.05rem;
    right: -0.14rem;
    text-align: center;
    padding: 0 0.04rem 0 0.04rem;
}
.xg_box{
    margin-top: 0.72rem;
    overflow: auto;
    width: 100%;
    margin-bottom: 0.85rem;
}
.xg_cen{
    width: 100%;
}
.xg_one{
    width: 100%;
    height:1.9rem;
    background-image: url("../images/bj_bottom.png");
    background-size: 100%;
    background-repeat: no-repeat;
}
.xg_one  .swiper-container {
    width:94%;
    height: 100%;
    margin: auto;
    overflow: hidden;
}
.xg_one .swiper-slide{
    border-radius: 5px;
    overflow: hidden;
}
.xg_one .swiper-slide img{
    width: 100%;
}
.xg_one .swiper-pagination-bullet{
    width:0.25rem;
    height:0.02rem;
    display: inline-block;
    border-radius:0;
    background: #fff;
    opacity:1;
}
.xg_one .swiper-pagination-bullet-active{
    background:#5394ff;
}
.xg_one .swiper-pagination{
    bottom: -0.1rem;
}
.xg_two .tab{
    clear: both;
}
.tab_bd li{
    display:none;
}
.tab_bd li.thisclass{
    display:list-item;
}
.xg_two .tab_hd li{
    width: 25%;
    float: left;
    margin-top: 0.19rem;
}
.xg_two .tab_hd li p{
    background-image: url("../images/conqg.png");
    background-size:4rem 0.5rem;
    background-repeat: no-repeat;
    margin: auto;
    display: block;
}
.xg_two .tab_hd li.wen p{
    width: 0.5rem;
    height: 0.5rem;
    background-position: 0;
}
.xg_two .tab_hd li.ke p{
    width: 0.5rem;
    height: 0.5rem;
    background-position:-0.5rem 0;
}
.xg_two .tab_hd li.jrong p{
    width: 0.5rem;
    height: 0.5rem;
    background-position:-1rem 0;
}
.xg_two .tab_hd li.jash p{
    width: 0.5rem;
    height: 0.5rem;
    background-position:-1.5rem 0;
}
.xg_two .tab_hd li.mei p{
    width: 0.5rem;
    height: 0.5rem;
    background-position:-2rem 0;
}
.xg_two .tab_hd li.yun p{
    width: 0.5rem;
    height: 0.5rem;
    background-position:-2.5rem 0;
}
.xg_two .tab_hd li.dian p{
    width: 0.5rem;
    height: 0.5rem;
    background-position:-3rem 0;
}
.xg_two .tab_hd li.geng p{
    width: 0.5rem;
    height: 0.5rem;
    background-position:-3.5rem 0;
}
.xg_two .tab_hd li span{
    font-size: 0.13rem;
    color:#000;
    display: block;
    text-align: center;
    margin-top: 0.05rem;
}
.xg_two .tab_hd li.active p{
    background-image: url("../images/conbg.png");
}
.xg_two .tab_hd li.active span{
    color: #5394ff;
}
.tab_bd{
    clear: both;
}
.chuang {
    position: relative;
    width:auto;
    height:0.9rem;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px #ccc;
    box-sizing: border-box;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
    margin-top: 0.19rem;
}
.chuang:after {
    position: absolute;
    display: inline-block;
    top: -0.09rem;
    left: 0.25rem;
    width: 0;
    height: 0;
    content: '';
    border-style: solid;
    border-width:0.1rem;
    border-color: #fff #fff transparent transparent;
    transform: rotate(-45deg);
    box-shadow: 2px -2px 2px #ccc;
}
.scie:after{
    left: 1.2rem;
}
.rong:after{
    left: 2.15rem;
}
.she:after{
    left: 3.1rem;
}
.chuang b{
    width: 1.03rem;
    height:0.25rem;
    border: 1px solid #dddddd;
    border-radius: 15px;
    font-size: 0.12rem;
    color: #000;
    float: left;
    display: block;
    text-align: center;
    padding-top: 0.05rem;
    margin: 0 0.06rem;
    margin-top: 0.075rem;
}
.xg_thr{
    width: 100%;
    height:2.4rem;
    background-image: url("../images/bj2.jpg");
    background-size: 100%;
    margin-top: 0.19rem;
    clear: both;
}
.xg_thr_cen{
    margin-left: 0.2rem;
    margin-right: 0.2rem;
}
.xg_thr_cendiv{
    padding-top: 0.1rem;
}
.xg_thrh1{
    font-size: 0.18rem;
    color: #333333;
    font-weight: bold;
    float: left;
    margin-left: 0.05rem;
}
.xg_thrh1_img{
    float: left;
    width: 0.18rem;
    height:0.17rem;
    margin-top: 0.05rem;
    margin-left: 0.2rem;
}
.xg_forh1_img{
    float: left;
    width: 0.175rem;
    height:0.175rem;
    margin-top: 0.03rem;
    margin-left: 0.2rem;
}
.xg_for_cen{
    width: 100%;
    box-sizing: border-box;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
}
.xg_for_div{
    border-bottom: 1px solid #dddddd;
    clear: both;
    display: block;
    margin-top: 0.19rem;
    overflow: hidden;
    padding-bottom: 0.1rem;
}
.xg_for_one{
    width: 100%;
    display: table;
    margin-top: 0.15rem;
    border-bottom: 1px solid #dddddd;
    padding-bottom: 0.15rem;
}
.xg_for_le{
    width: 2.25rem;
    float: left;
}
.xg_for_ri{
    width: 1rem;
    height: 0.67rem;
    float: right;
}
.xg_for_ri img{
    width: 1rem;
    height: 0.67rem;
    display: block;
}
.xg_for_le p{
    width: 2.25rem;
    font-size: 0.15rem;
    color: #333333;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.xg_for_leimg{
    float: left;
    width: 0.1rem;
    height: 0.1rem;
    margin-top: 0.13rem;
    margin-right: 0.05rem;
}

.xg_for_le span b{
    float: left;
    font-size: 0.1rem;
    color:#aaaaaa;
    margin-right: 0.3rem;
    margin-top: 0.1rem;
}
.xg_for_two .xg_for_le{
    width: 3.3rem;
}
.xg_for_two .xg_for_le p{
    width: 3.3rem;
}
.xg_for_two{
    width: 100%;
    display: table;
    margin-top: 0.15rem;
    border-bottom: 1px solid #dddddd;
    padding-bottom: 0.15rem;
}
.footer{
    width: 100%;
    height:0.5rem;
    position: fixed;
    border-top: 1px solid #dddddd;
    bottom: 0;
    background: #fff;
}
.footer_ul li p{
    background-image: url("../images/cen.png");
    background-size:0.385rem 0.205rem ;
    background-repeat: no-repeat;
    margin: auto;
    display: block;
}
.footer_ul li.footer_ul_active p{
    background-image: url("../images/cen_bg.png");
    background-size:0.385rem 0.205rem ;
    background-repeat: no-repeat;
    margin: auto;
    display: block;
}
.footer_ul li{
    width: 33%;
    float: left;
    margin-top: 0.06rem;
}
.footer_ul li.footli_one p{
    width:0.21rem;
    height:0.195rem;
    background-position: 0;
}
.footer_ul li.footli_two{
    float: right;
}
.footer_ul li.footli_two p{
    width:0.175rem;
    height:0.205rem;
    background-position: -0.21rem 0;
}
.footer_ul li span{
    font-size: 0.12rem;
    color: #888888;
    display: block;
    text-align: center;
    margin-top: 0.02rem;
}
.footer_ul li.footer_ul_active span{
    color: #5394ff;
}
.footli_img{
    width:0.6rem;
    height: 0.615rem;
    position: absolute;
    left: 50%;
    top:50%;
    transform:translate(-50%,-50%);
    -webkit-transform:translate(-50%,-50%);
    text-align: center;
    margin-top: -0.15rem;
}
.icon{
    text-align: center;
    font-size: 0;
    margin-top: 0.1rem;
}
.icon img{
    width: 0.15rem;
    height: 0.15rem;
   display: inline-block;
    position: absolute;
    margin-left: -0.2rem;
    margin-top:0.02rem;
}
.icon i{
    font-size: 0.13rem;
    color:#aaaaaa;
    display: inline-block;
    margin-left: 0.05rem;
}

.Button {
    display: inline-block;
    margin: 0;
    background-position: center center;
    background-repeat: no-repeat;
    color: #7a0715;
    text-shadow: none;
    vertical-align: middle;
    cursor: pointer;
    border: 0;
    -webkit-transition: color 300ms ease, background-color 300ms ease;
    transition: color 300ms ease, background-color 300ms ease;
}
.Button.Block {
    width: 2.8rem;
    height:1.57rem;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}
.xg_dis{
    position: absolute;
    bottom: 0;
    background:rgba(0, 0, 0, 0.5);
    height: 0.49rem;
    width: 2.8rem;
    box-sizing: border-box;
    padding-left: 0.1rem;
    padding-top: 0.05rem;
}
.xg_dis h1{
    width: 2.7rem;
    font-size: 0.15rem;
    color: #fff;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}
.xg_dis span{
    width: 2.7rem;
    display: block;
    font-size: 0.12rem;
    color: #fff;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}

/* Custom Flipster Styles */
.flipster {
   padding-top: 0.2rem;
}
.pull-right {
    float: right;
}
.pull-left {
    float: left;
}
.hide {
    display: none;
}
.show {
    display: block;
}
.invisible {
    visibility: hidden;
}
.affix {
    position: fixed;
}
